{% extends 'base.html.twig' %}
 {% block body %}
<body>
    <div class="gtco-loader"></div>
    
    <div id="page">

    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <img height="100px;" width="100px;" src="{{('bundles/images/cara1.jpg')}}">
                        </span>
                        <h3>Daniel Leon</h3>
                        <p>Un mensaje inspirador</p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <img height="100px;" width="100px;" src="{{('bundles/images/cara1.jpg')}}">
                        </span>
                        <h3>Carlos Rodriguez</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <img height="100px;" width="100px;" src="{{('bundles/images/cara1.jpg')}}">
                        </span>
                        <h3>Web Starter</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-features-2">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>¿Que tipo de administracion necesitas tu?</h2>
                    <p>Administracion General,Adminsitrar Alumnos, profesores, academias, calendarios</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Administracion General</h3>
                            <p>Toma el control de la institucion</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Administracion del personal</h3>
                            <p>Toma el control sobre el personal, calendarios, materias, calificaciones y horarios</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Administracion del alumno</h3>
                            <p>Bla bla bla</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                        <i><img height="540px;" width="450px;" src="{{asset('bundles/images/carrito.jpg')}}"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div id="gtco-services">
        <div class="gtco-container">
            
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>What We Offer</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>

            <div class="row animate-box">
                
                <div class="gtco-tabs">
                    <ul class="gtco-tab-nav">
                        <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-command"></i></span><span class="hidden-xs">Web Design</span></a></li>
                        <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Online Marketing</span></a></li>
                        <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span class="hidden-xs">E-Commerce</span></a></li>
                        <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">Logo &amp; Branding</span></a></li>
                    </ul>

                    <!-- Tabs -->
                    <div class="gtco-tab-content-wrap">

                        <div class="gtco-tab-content tab-content active" data-tab-content="1">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-command"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Web Design</h2>
                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Keep it simple</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Less is more</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="2">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-bar-graph"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Online Marketing</h2>
                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Ready to use</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">100% Satisfaction</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="3">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-bag"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>e-Commerce</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Easy to shop</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">No credit card required</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="4">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-box"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Logo &amp; Branding</h2>
                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Pixel perfect</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">User Interface Expert</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
 	  {% endblock %}